* {
    box-sizing: border-box;
}
 ul,
li {
   list-style: none; 
   margin: 0;
   padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3{
    margin: 0;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 44px;
    
    background: #0F0F0F;
}

.container{
    max-width: 865px;
    padding: 5px;
    margin:  0 auto;
}

.header__container {
    min-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
}

.nav__item {
    position: absolute;
width: 78px;
height: 18px;
left: 1293px;
top: 75px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;

/* gray */

color: #969696;

}

.photo{
    background-image: url(img/bebra.png);
}

.about__container{
    display: flex;
}

.about__back{
    position: absolute;
width: 1920px;
height: 810px;
left: 0px;
top: 124px;

background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(.jpg);
}

.about__img{
    position: absolute;
    width: 243px;
    height: 243px;
    left: 760px;
    top: 210px;
    overflow: hidden;
    flex-shrink: 0;
}

.button_download-btn{
    position: absolute;
width: 167px;
height: 21px;
left: 168px;
top: 486px;
font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;

color: black;

}

.text_title{
    position: absolute;
    width: 185px;
    height: 86px;
    left: 867px;
    top: 377px;
    
    font-family: Post No Bills Jaffna;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    
    color: #FFFFFF;
}

.text_about{
    position: absolute;
width: 730px;
height: 96px;
left: 595px;
top: 684px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.recent-posts__text{
    position: absolute;
width: 368px;
height: 117px;
left: 171px;
top: 835px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #21243D;
}

.recent-posts__link{
    position: absolute;
width: 208px;
height: 20px;
left: 796px;
top: 622px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
text-align: right;
color: #00A8CC;
}

.recent-posts__tittle{
    position: absolute;
width: 129px;
height: 60px;
left: 148px;
top: 602px;
font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 60px;
display: flex;
align-items: flex-end;
color: black;

}

.recent_posts{
    position: absolute;
width: 1152px;
height: 396px;
left: 0px;
top: 595px;

background: #EDF7FA;
}

.recent-posts__subtitle{
    position: absolute;
width: 374px;
height: 85px;
left: 171px;
top: 688px;

font-family: Heebo;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 38px;
color: #21243D;
}

.recent-posts__separator{
    position: absolute;
width: 239px;
height: 34px;
left: 327px;
top: 790px;

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #21243D;
}

.recent-posts__articles{
    position: absolute;
width: 418px;
height: 295px;
left: 148px;
top: 664px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
}

.recent-posts__article{
    position: absolute;
width: 418px;
height: 295px;
left: 148px;
top: 664px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
}

.block{
    position: absolute;
width: 418px;
height: 295px;
left: 148px;
top: 664px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
}