* {
    box-sizing: border-box;
}
 ul,
li {
   list-style: none; 
   margin: 0;
   padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3{
    margin: 0;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    max-width: 865px;
    padding: 5px;
    margin:  0 auto;
    padding-top: 50px;
}

.header__container {
    min-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 33px;
}

.header__burger{
    width: 30px;
    height: 20px;
    background-color:white;
}

.header__burger-el{
    background-color: #21243D;
    height: 2px;
    width: 100%;
    position: relative;
}

.header__burger-el::before,
.header__burger-el::after{
    background-color: #21243D;
    height: 2px;
    width: 100%;
    content: "";
    position: absolute;
}

.header__burger-el::before{
    top: -9px;
}

.header__burger-el::after{
    bottom: -9px;
}

@media (max-width: 480px) {
    .nav{
        display: none;
    }
}

    .photo{
    background-image: url(img/bebra.png);
}

.about__container{
    display: flex;
}

.about__avatar{
position: absolute;
width: 243px;
height: 243px;
left: 760px;
top: 210px;
overflow: hidden;
flex-shrink: 0;
}

.about__img{
    position: absolute;
    width: 243px;
    height: 243px;
    left: 760px;
    top: 210px;
    overflow: hidden;
    flex-shrink: 0;
}

.button_download-btn{
    background-color: brown;
    border-style: none;
    padding: 17px;
}

.text_title{
    font-size: 180%;
    padding-bottom: 30px;
}

.recents-post__text{
    font-size: 180%;
    padding-bottom: 30px;
}

.recents-post__text{
    font-size: 200%;
    padding-bottom: 15px;
}

.recent-posts__link{
    color: aqua;
    font-size: 150%;
}

.recent-posts__tittle{
    font-size: 150%;
}

.portfolio__subtitle{
    font-size: 190%;
}

.portfolio__separator{
    font-size: 185%;
}

.portfolio__text{
    left: 760px;
    top: 210px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: darkgray;
}

.portfolio__info{
    background-color: gray;
    
}

@media screen and (max-width: 768px) {
    .wrapper{
        background: none;
        background-color: aquamarine;
    }
}

@media (max-width: 480px) {
    .wrapper {
        background-color: white
    }
}

.container_rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 865px;
    padding: 5px;
    margin:  0 auto;
    padding-top: 50px;
}

.footer{
width: 1152px;
height: 182px;
left: 2px;
top: 1877px;
}

.media_item{
    position: absolute;
width: 30px;
height: 30px;
left: calc(50% - 30px/2 - 102px);
top: calc(50% - 30px/2 - 25px);
}

.copyright{
    position: absolute;
height: 21px;
left: 40.28%;
right: 40.45%;
top: calc(50% - 21px/2 + 26.5px);

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

/* Dark */

color: #21243D;
}

.work__img-wrap{
    max-width: 246px;
    max-height: 180px;
    border-radius: 6px;
    overflow: hidden;
}

.work__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work{
    display: flex;
    border-bottom: 1px solid grey;
    padding: 33px 0;
}

.work__subtitle{
    display: flex;
}

.work__date{
    margin-right: 26px;
    background: #21243D;
    border-radius: 16px;
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    min-width: 62px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .featured__works{
        display: flex;
        width: 100%;
        overflow: auto;
    }

    .work{
        max-width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 20px 13px;
    }
    .work__img-wrap{
        max-width: 100%;
        max-height: 230px;
    }
}